<%- include('./partials/header.ejs') %>
    <h1>SNES Edit Page</h1>
    <form class="labels" action="/snes/<%=snes.id %>?_method=PUT" method="POST">
        Title: <input type="text" name="title"/><br/>
        img: <input type="text" name="img"/><br/>
        Genre: <input type="text" name="genre"/><br/>
        Developer: <input type="text" name="developer"/><br/>
        Rating: <input type="text" name="rating"/><br/>
        Year: <input type="text" name="year"/><br/>
        <input type="submit" value="Edit A Game">
    </form>
</body>
</html>