body {
    background-image: url("https://us.123rf.com/450wm/gorro/gorro2101/gorro210100025/162717140-colorful-simple-vector-illustration-in-retro-futurism-style-of-headline-signboard-text-retro-game.jpg?ver=6");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-family: comic sans ms, sans-serif;
    text-align: center;
    font-size: 80px;
}

p {
    color: white;
}

.labels {
    color: white;
    font-size: x-large;
    
}

.images {
    padding: 5px;
    max-width: 30%;
    max-height: 30%;
}

ul {
   list-style: none;
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  /* padding: 10px; */
    /* justify-content: space-between; */
}

li {
    justify-content: space-between;
}