body {
    background-image: url("https://us.123rf.com/450wm/gorro/gorro2101/gorro210100025/162717140-colorful-simple-vector-illustration-in-retro-futurism-style-of-headline-signboard-text-retro-game.jpg?ver=6");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-family: comic sans ms, sans-serif;
    text-align: center;
    font-size: 80px;
}

p {
    color: white;
}

.labels {
    font-size: x-large;
    color: rgb(244, 67, 54);
    padding-bottom: 10px;
}

input {
    font-size: 90%;
    border: 1px solid;
    margin-bottom: 5px;
    display: block;
    background-position: 8px 9px;
    padding: 5px 5px;
}

.images {
    padding: 5px;
    max-width: 50%;
    max-height: 30%;
}

ul {
   list-style: none;
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 1000px;
  padding-left: 100px;
  padding-right: 100px;
 
}



li {
    margin-top: 50px;
}

a {
    color: rgb(255, 238, 0);
    font-size: x-large;
    text-decoration: none;

}

a.header {
    color: red;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 
p {
    font-size: 160%;
    
}

span {
    color: rgb(244, 67, 54);
}